<!-- views/main.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example</title>
</head>
<body>
    <h1>Welcome, <%= newUser.name %></h1>
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <a href = "/process/logout">Log out</a><br>
    <a href = "/process/reserve">예약기능</a>

<script>
    
</script>
</body>
</html>